fastapi
uvicorn
motor
pymongo
python-dotenv
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.3.0
google-genai
fastmcp
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
python-multipart
requests
dnspython
pydantic[email]
Pillow
cloudinary